mat-table {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

mat-form-field {
    width: 250px;
}

mat-header-cell {
    font-weight: bold;
}

.example-spacer {
    flex: 1 1 auto;
}