<div class="container-bar">
    <a mat-button><mat-icon color="primary">search</mat-icon><input matInput class="search"/></a>  
</div>
<div class="container-bar">
    <a mat-button class=""><mat-icon color="primary">add</mat-icon>Adicionar</a>
</div>
<div class="container-bar">
    <a mat-button class=""><mat-icon color="primary">settings</mat-icon>Configurações</a>
</div>
<div class="container-bar">
    <a mat-button class=""><mat-icon color="primary">star</mat-icon>Lorem</a>
</div>
<div class="container-bar">
    <a mat-button class=""><mat-icon color="primary">star</mat-icon>Lorem</a>
</div>
