<div class="container-bar">
  <a mat-button><mat-icon color="primary">search</mat-icon><input matInput class="search" /></a>
</div>
<div class="container-bar">
  <a mat-button href="/" ><mat-icon color="primary">house</mat-icon>Página inicial</a>
</div>
<div class="container-bar">
  <a mat-button [routerLink]="['listagemestoque']"><mat-icon color="primary">inventory_2</mat-icon>Estoques</a>
</div>
<div class="container-bar">
  <a mat-button><mat-icon color="primary">settings</mat-icon>Configurações</a>
</div>
<div class="container-bar">
  <a mat-button><mat-icon color="primary">logout</mat-icon>Logout</a>
</div>