<button routerLink="/cadastroestoque" mat-button mat-raised-button style="margin:10px">
  <mat-icon color="primary">add</mat-icon>
  <span>Adicionar Estoque</span>
</button>

<div class="cards-container">
  <mat-card *ngFor="let estoque of estoques" class="example-card">
    <mat-card-header [routerLink]="['/listagemproduto/', estoque.id]">
      <mat-card-subtitle>Estoque</mat-card-subtitle>
      <mat-card-title class="titulo" >{{ estoque.nome }}</mat-card-title>
    </mat-card-header>
    <mat-card-content [routerLink]="['/listagemproduto/', estoque.id]">
      <p>{{ estoque.descricao }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button [routerLink]="['/editaestoque', estoque.id]">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="remover(estoque)">
        <mat-icon color="primary">delete</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <h1 style="padding-top:25px" [routerLink]="['/listagemproduto/', estoque.id]">{{ estoque.ocupacao }}/{{ estoque.capacidade }}</h1>
    </mat-card-actions>
  </mat-card>
</div>