<div class="cards-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title *ngIf="estahCadastrando">Cadastrar Estoque</mat-card-title>
      <mat-card-title *ngIf="!estahCadastrando">Editar Estoque</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field hintLabel="Máx 20 caracteres">
          <mat-label>Nome</mat-label>
          <input matInput #inputNome maxlength="20" placeholder="Ex.: Alimentos" [(ngModel)]="estoqueDeManutencao.nome">
          <mat-hint align="end">{{inputNome.value.length}}/20</mat-hint>
        </mat-form-field>
        <mat-form-field hintLabel="Máx 100">
          <mat-label>Capacidade</mat-label>
          <input matInput #input maxlength="3" [(ngModel)]="estoqueDeManutencao.capacidade">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput #inputDescricao maxlength="150" placeholder="Ex.: Lorem Ipsum" [(ngModel)]="estoqueDeManutencao.descricao">
          <mat-hint align="end">{{inputDescricao.value.length}}/150</mat-hint>
        </mat-form-field>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="button-add">
      <button mat-fab color="primary" (click)="manter()">
        <mat-icon *ngIf="estahCadastrando">add</mat-icon>
        <mat-icon *ngIf="!estahCadastrando">edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>	
</div>
